<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header('Congratulations !!!')}"></head>
<body>
<div class="container">

    <div class="row justify-content-center">
        <div class="col-5 text-center">
            <br>
            <br>
            <br>
            <br>
            <h1>Data berhasil dikirim</h1>

            <a href="/">Kembali ke halaman Login</a>
        </div>
    </div>
</div>


<script>
    clearLocalStorage();

</script>
</body>
</html>